html body {
    margin: 0;
    background-color: whitesmoke;
}

/* .App {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
} */

header {
    display: flex;
    background-color: darkslategray;
    justify-content: center;
}

.logo {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-weight: 700;
    font-size: 26px;
}

header li {
    display: inline-flex; 
    list-style: none;   
}

ul li i {
    margin-right: 8px;
}

.image-content {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.cat-image {
    max-width: 400px;
    max-height: 400px;
}

.button-content {
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 40px;
    justify-content: space-around;
}

#love-btn {
    margin-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #4caf50;
    border: none;
    border-radius: 0.5em;
    color: white;
}

#thumbs-up {
    margin-right: 0.5em;
}

#nope-btn {
    margin-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 0.5em;
}

#thumbs-down {
    margin-right: 0.5em;
}

@media screen and (max-width: 740px) {
    .button-content {
        width: 80%;
    }
}